<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>

    
        /* Estilos originales para los enlaces de la barra de navegación */
        .navbar-nav li.nav-item.active a.nav-link i.fas {
            color: #218f8b !important;
        }

        .navbar-nav li.nav-item a.nav-link i.fas {
            color: #218f8b !important;
        }

        .navbar-nav li.nav-item a.nav-link span {
            color: #218f8b !important;
        }

        /* Estilo adicional para anular el color y aplicar propiedades a .initials */
        .navbar-nav li.nav-item .profile-circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #218f8b; /* Añadido para el fondo circular */
        }

            .navbar-nav li.nav-item .profile-circle .initials {
                color: white !important;
                font-weight: bold;
                font-size: 16px;
                border-radius: 50%; /* Añadido para las iniciales circulares */
            }





        .container {
            max-width: 600px;
            margin: 100px auto;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        /* Switch Styles */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 35px;
            margin-top:10px;
            margin-right:20px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 34px;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }















    </style>




</head>
<body id="page-top">



    <div id="wrapper">

        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: white;">

             <br />
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" style="background-color: #808B96;">
                </button>
            </div>


         
            <!-- Separador Linea -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" asp-area="" asp-controller="Firmas" asp-action="Index">

                    <i class="fas fa-pen-nib"></i>
                    <span>Firmas
                    </span>
                </a>
            </li>


            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-file-signature"></i>
                    <span>Papelera</span>

                </a>
            </li>


            <!-- Nav Item - Correos -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-envelope"></i>

                    <span>Correos</span>
                </a>
            </li>

            
            <!-- Nav Item - Notas -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-book"></i>
                    <span>Notas</span>
                </a>
            </li>

            <!-- Nav Item - Ajustes -->
            <li class="nav-item ">

                <a class="nav-link" asp-area="" asp-controller="Ajustes" asp-action="Index">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ajustes</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

         

        </ul>
        <!-- End of Sidebar -->



        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 static-top shadow">


                    <p style="color: white; margin-top: 12px;">VisionSign - BDO OUTSOURCING S.A.C</p>

                   

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">



                        <label class="switch">
                            <input type="checkbox" id="darkModeToggle">
                            <span class="slider round"></span>
                        </label>


                        <p style="color: white; margin-top: 20px;">Daniel</p>


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!--para la letra-->


                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="profile-circle" style="background-color: #218f8b;">
                                    <span class="initials" style="color:white">DS</span>
                                </div>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ajustes
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>


                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Derecho Reservados  2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
